.qamDiv {
  margin: 30px 0px;
  padding: 0px 30px;
}

.mapMDiv {
  border-radius: 5px;
  padding: 12px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
}

.titleDiv,
.datetimeDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
}

.datetimeDiv {
  margin: 7px 0px;
  color: #717171;
}
