.qamDiv {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  padding: 0px 30px;
  gap: 30px 0px;
}

.mapMDiv {
  width: 100%;
  border-radius: 5px;
  padding: 12px 20px;
  border-style: dashed;
  border-width: 1px;
  border-color: #d3d3d3;
  transition: all 0.3s;
}

.mapMDiv:hover {
  border-color: #c075ff;
}

.titleDiv,
.datetimeDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
}

.datetimeDiv {
  margin: 7px 0px;
  color: #717171;
}

.submainDiv {
  margin: 30px 0px;
}

.submainDivMain {
  margin-bottom: 10px;
}
.contacted{
  display: flex;
  justify-content: end;
  color: #c075ff;
}

@media screen and (max-width: 480px) {
  .qamDiv {
    padding: 0px;
  }
  .submainDiv{
    margin: 17px 0px;
  }
  .titleDiv,
  .datetimeDiv {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px 20px;
    padding-bottom: 5px;
  }
  .contacted{
    justify-content: flex-start;
  }

  .titleNameDiv,
  .titleCompanyNameDiv {
    width: 100%;
  }

  .titleCompanyNameDiv {
    text-align: left;
  }
}

