.typesOfUsers {
  margin: 30px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mapMDiv {
  padding: 15px 20px;
  border-style: dashed;
  border-color: #d3d3d3;
  border-width: 1px;
  margin-bottom: 30px;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.mapMDiv:hover {
  border-color: #c27aff;
}

.conDel,
.conDelT {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.conDel {
  font-size: 12px;
  color: #717171;
}

.AllSellersIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.IconTextYes,
.IconTextNo {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.IconTextYes {
  color: #000;
}

.IconTextNo {
  color: #d3d3d3;
}
