.qamDiv {
  margin: 20px 0px;
}

.qaComDiv {
  margin: 20px 0px;
  padding: 7px 0px 7px 15px;
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: #c075ff;
  border-radius: 3px 0px 0px 3px;
}

.ansPTag {
  margin: 10px 7px;
  transition: all 0.3s;
}

.queriesPTag {
  margin: 30px;
  font-size: 12px;
  text-align: center;
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

.plusIcon {
  cursor: pointer;
}

.qptag {
  cursor: pointer;
}

.NoData {
  text-align: center;
}

.icons{
  display: flex;
  flex-direction: row;
  margin-left: 90%;
}

.icons svg{
  cursor: pointer;
}
