.mDiv {
    display: flex;
    flex-direction: column;

  
  }
  .InventoryPTag{
    margin: 0px 0px 20px;
    color: #031849;
    font-size: 15px;
    font-family: Poppins;
   font-weight: 700;
   word-wrap: break-word
}

  .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
  }

  .ticketId{
    font-family: Poppins; 
    font-weight: 700;
  }

  .frameGroup , .frameParent {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 16px;
    border-bottom: 1px #D5DCE8 solid
  }
  .solvedWrapper{
    background-color: #1F9254;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 500;
    padding: 8px 45px 8px 45px;
    border-radius: 10px;
}
    
  .pendingWrapper{
    background-color:  #FF731D;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 500;
    padding: 8px 40px 8px 40px;
    border-radius: 10px;
  }
  