.mDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.centerDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.closeMDiv {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.upMDiv {
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  display: flex;
  justify-content: space-evenly;
}

.LogoHere {
  color: #888888;
  margin-bottom: 7px;
}

.textCenter {
  background-color: #aaaaaa;
  color: #fff;
  text-align: center;
}
