.personalinfotab {
  padding-top: 30px;
}

.heading {
  font-size: 26px;
}

.box {
  border: 1px dashed rgba(170, 170, 170, 1);
  border-radius: 15px;
  margin-top: 10px;
  padding: 12px 30px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 20px;
}

.inputheading {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 22px;
  color: rgba(119, 119, 119, 1);
}

.infodiv {
  border: 1px solid;
  border-color: rgba(221, 221, 221, 1);
  border-radius: 5px;
  padding: 5px;
  margin-top: 7px;
}
