.mainDiv{
  margin-top: -12%;
  font-family: "Rubik", sans-serif;
}
.part1{
  padding: 90px;
  display: flex;
  justify-content: space-between;
}
.left{
  width: 30%;
  border-radius: 15px;
}
.left img{
  width: 100%;
}
.right{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.head{
  color: #0B1B35;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.aimHead{
  color: #5925DC;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.aimDesc{
  color: #1A1A1A;
  font-size: 40px;
  letter-spacing: -0.939px;
  margin-bottom: 10px;
}
.desc{
  color: #767676;
  font-size: 24px;
  margin-bottom: 10px;
}
.register{
  display: flex;
}
.registerLink{
  display: flex;
  align-items: center;
  color: #1A1A1A;
  font-size: 18px;
  font-weight: 600;
  padding-left: 12px;
  cursor: pointer;
}
.part2{
  padding: 64px;
  border: 10px solid transparent;
  border-image: linear-gradient(to left, rgba(22, 31, 228, 0.3),rgba(255, 255, 255, 0.3));
  border-image-slice: 1;
  border-left: 0;
  border-right: 0;
  display: flex;
}
.part2Desc{
  color: #000;
  font-size: 46px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part2Img{
  width: 50%;
  display: flex;
  justify-content: center;
}
.part2Img img{
  width: 300px;
  /* height: 40%; */
}
@media screen and (max-width:1120px) {
  .head{
    font-size: 36px;
  } 
  .aimDesc{
    font-size: 36px;
  }
  .desc{
    font-size: 20px;
  }
  .part2Desc{
    font-size: 42px;
  }
}
@media screen and (max-width:950px) {
  .head{
    font-size: 32px;
  } 
  .aimDesc{
    font-size: 32px;
  }
  .desc{
    font-size: 16px;
  }
  .registerSvg{
    height: 30px;
  }
  .registerSvg svg{
    height: 100%;
  }
  .part2Desc{
    font-size: 36px;
  }
}
@media screen and (max-width:950px) {
  .part2Img{
    width: 100%;
  }
  .part2Img img{
    height: 100%;
  }
}
@media screen and (max-width: 780px) {
  .part1{
    padding: 50px;
  } 
}
@media screen and (max-width:750px) {
  .part2Img{
    width: 100%;
    align-items: center;
  }
  .part2Img img{
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 650px) {
  .part1{
    padding: 30px;
  }
  .left{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left img{
    width: 95%;
  }
  .right{
    width: 50%;
  }
  .aimDesc{
    font-size: 28px;
  }
  .register{
    margin-left: -10px;
    padding-top: 5px;
  }
  .part2Desc{
    font-size: 30px;
  }
}
@media screen and (max-width:620px) {
  .part2Desc{
    font-size: 28px;
  }
  .part2Img{
    width: 100%;
    align-items: center;
  }
  .part2Img img{
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  .part1{
    flex-direction: column;
  }
  .desc{
    text-align: justify;
  }
  .left{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left img{
    width: 50%;
  }
  .right{
    width: 100%;
    padding-top: 10px;
  }
  .part2{
    flex-direction: column-reverse;
  }
  .part2Desc{
    padding-top: 10px;
    text-align: center;
  }
}