.mainDiv {
  width: 100%;
  font-family: "Rubik", sans-serif;
  padding: 20px 0px;
  border-radius: 15px;
  border: 2px solid #d2d2d2;
  max-width: 31%;
  min-width: 31%;
}

.image {
  height: 150px;
  display: flex;
  justify-content: center;
}

.image img {
  height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: #1a1a1a;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  padding: 20px 0px;
}

.company {
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding-top: 10px; */
}

.company img {
  width: 50%;
}

@media screen and (max-width: 780px) {
  .image {
    height: 120px;
  }
}
@media screen and (max-width: 510px){
  .mainDiv{
    max-width: 50%;
  }
}
@media screen and (max-width: 505px) {
  .mainDiv{
    padding: 20px 20px;
  }
  .company img{
    width: 80%;
  }
 
}
@media screen and (max-width: 295px){
  .mainDiv{
    max-width: 70%;
  }
  .company img{
    width: 80%;
  }
}
