.mDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.bgParent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.circle {
  position: absolute;
  right: -40px;
  top: -30%;
  z-index: -1;
  width: 300px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0px 3px 6px lightgray;
  border-radius: 50%;
  z-index: -1;
}

.circleleft {
  position: absolute;
  left: -50px;
  top: 70%;
  z-index: -1;
  width: 300px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0px 3px 6px lightgray;
  border-radius: 50%;
}

.bgDiv,
.bgDiv2 {
  position: relative;
  top: -100px;
  left: -50px;
  width: 120%;
  height: 100%;
  z-index: -1;
}

.bgDiv {
  rotate: -3deg;
  background-color: #eff4ff;
}

.bgDiv2 {
  rotate: 3deg;
  background-color: #fdf2ff;
}

.block1,
.block2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  padding-bottom: 50px;
}

.block2 {
  background-color: #fdf2ff;
}

.block0 {
  margin-top: -50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
