.gridDiv {
  padding: 65px 55px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media screen and (max-width: 850px) {
  .gridDiv {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 970px) {
  .gridDiv {
    padding: 65px 50px;
  }
}

@media screen and (max-width: 500px) {
  .gridDiv {
    padding: 65px 10px;
  }
}

/* @media screen and (max-width: 430px){
  .gridDiv{
    padding: 65px 10px;
    width: 100%;
  }
}  */
