.gridDiv {
  margin: 30px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 830px) {
  .gridDiv {
    flex-direction: column;
    gap: 30px 0px;
  }
}
