.mDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  background-image: linear-gradient(#b4b5f6, #e3b2f5);
}

.Mission {
  font-family: "Rubik", sans-serif;
  font-size: 52px;
  font-weight: bold;
  position: absolute;
  color: #b4b5f6;
  top: -48px;
  left: 50px;
}

.EmpoweringMSMEs {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-weight: bold;
  width: 80%;
  z-index: 1;
}

@media only screen and (max-width: 650px) {
  .Mission {
    font-size: 38px;
    top: -34px;
  }
  .EmpoweringMSMEs {
    font-size: 20px;
  }
  .mDiv {
    padding: 50px 0px;
  }
}
