.mainDiv{
  margin-top: 90px;
}
@media screen and (max-width: 780px) {
  .mainDiv{
    padding: 0px;
  } 
}
@media screen and (max-width: 650px) {
  .mainDiv{
    padding: 30px;
  }
}
@media screen and (max-width: 450px) {
  .mainDiv{
    padding: 0px;
  }
}