.grid {
  display: grid;
  gap: 1rem;
  padding-block-start: 0.5rem;
}

.gridSpan {
  grid-column: span 2;
}

article h1 {
  font-size: 1.8rem;
}

.gridCard {
  position: relative;
  overflow: hidden;
}

.gridCard .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #15131362;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.gridCard:hover .text {
  opacity: 0.9;
}

.gridCard img {
  display: inline-block;
  /* display: flex; */
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 0.2em;
  vertical-align: middle;
  font-style: italic;
}

/* media queries */
@media (width > 50em) {
  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 1rem;
    margin-inline: auto;
  }

  /* .grid .gridCard:nth-child(3) {
    grid-column: 3 / -1;
    grid-row: 1 / span 2;
  }

  .grid .gridCard:last-child {
    grid-column: span 2;
  } */
}
