.mDiv {
  padding: 30px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px 0px;
}

.left,
.right {
  width: 45%;
}

.inpDiv {
  margin-bottom: 30px;
}

.labelMain {
  margin: 30px 0px;
}

.label,
.labelMain {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.14px;
}

.inp {
  outline: none;
  width: 100%;
  margin-top: 15px;
  padding: 10px 15px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 3px;
}

.inp::placeholder,
.inpTA::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.12px;
}

.inpTA {
  outline: none;
  width: 100%;
  resize: none;
  margin-top: 15px;
  padding: 10px 15px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 3px;
  overflow-x: hidden;
}

.addimgDivMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addImgDiv {
  width: 120px;
  height: 130px;
  background-color: #dbdbdb;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  font-family: "Merriweather", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 40.811px;
  letter-spacing: 0.653px;
  margin-bottom: 30px;
}

.labelDes {
  color: #777777;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.14px;
  margin: 15px 0px 10px 0px;
}

.upAddImgDragPTag {
  color: #777;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.14px;
  margin-top: 10px;
}

.upAddImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inpTag {
  width: 100%;
  margin-top: 15px;
  padding: 10px 15px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 3px;
}

.TagP {
  border-radius: 5px;
  border: 1px solid #1746a2;
  background: rgba(63, 129, 224, 0.3);
  color: var(--secondary-dark-blue, #1746a2);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 3px 12px;
}

.CloseX {
  margin-left: 7px;
  font-weight: bold;
}
