.mainDiv {
  position: fixed;
  /* Sit on top of the page content */
  /* display: none; Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: black; */
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.childDiv {
  background: #fff;
  min-width: 328px;
  min-height: 328px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.closeBtn {
  position: relative;
}

.closeBtn p {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.btns {
  display: flex;
  flex-direction: column;
  /* justify-content:flex-start; */
  justify-content: center;
  align-items: center;
  /* margin-top: 50%; */
}

.btns button {
  border: none;
  border-radius: 5px;
  background: rgba(63, 129, 224, 0.5);
  color: #1746a2;
  font-size: 18px;
  padding: 6px 25px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.btns a {
  width: 100%;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.image img {
  cursor: pointer;
}
