.mDiv {
  background: linear-gradient(136deg, rgba(255, 255, 255, 0.79) 0%, rgba(207, 184, 255, 0.79) 100%);
  padding: 40px;
}

.HexbitPMainTag {
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
}

.JustAnswer {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}