* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;


  background: linear-gradient(136deg,
      rgba(255, 255, 255, 0.79) 0%,
      rgba(207, 184, 255, 0.79) 100%);
      background-size: auto 60%;
      background-repeat: no-repeat;
}


.container .maindiv {
  position: relative;
  width: 55%;
  height: 85vh;
  padding: 300px;
  margin: 0 auto;
  background-color: #fff;

  border-radius: 20px;
  box-shadow: 0px 38px 67px #adadad;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  padding: 50px;
  top: 50px;


}

.maindiv .astersk {
  color: red;
}

.maindiv label {
  color: #606060;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  padding: 2px;
  


}

.maindiv input {
  outline: none;
  padding: 10px 12px;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;

}

.maindiv textarea {
  outline: none;
  padding: 10px 12px;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
  resize: none;
  font-family: "Rubik", sans-serif;
}
.SendMessage{
  display: flex;
  align-items: center;
  justify-content: center;
}

.maindiv button {
  width: 200px;
  height: 60px;
  font-size: 23px;
  margin: 10px auto;
  border-radius: 9px;
  color: white;
  background-color: rgb(12, 12, 77);
  border: none;
  cursor: pointer;
  font-weight: bold;
  bottom: 20px;
  /* margin:10px auto; */

}
@media screen  and (max-width:450px) {
  .maindiv button{
    display: flex;
    font-size: 19px;
    justify-content: center;
    align-items: center;
    width: 150px; 
    height: 70px;
    top: 30px;
  }
  .container .maindiv {
    display: flex;
    flex-direction: column;
    width: 90%;
    
      box-shadow: 0px 8px 30px #adadad;
    
    
  }
}
