.main {
  padding-block: 1rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1.5fr 1fr;
}

.submain {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.heading {
  color: #383c3e;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.2px;
}

.para {
  color: #737b7d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.3px;
  padding-block-start: 44px;
  max-width: 60ch;
}

@media (width<=50em) {
  .main {
    grid-template-columns: repeat(1, 1fr);
  }

  .submain {
    flex-direction: column-reverse;
  }
}
