.main {
  margin-block: 1rem;
  width: 100%;
}

.main h1 {
  color: #2a2d33;
  font-size: 31px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.main .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 1rem;

  padding-block-start: 1rem;
}

.child {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn {
  display: grid;
  place-items: center;
  grid-column: -1 / 1;
  color: #595959;
  font-size: 1rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.orange {
  color: #ff731d;
}

.green {
  color: #1f9254;
}
