.inputLabel {
  color: #606060;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
