.nestedFieldLargeDiv {
  color: #606060;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nestedFieldSmallDiv {
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
}

.inpDiv {
  color: #606060;
  font-size: 17px;
  font-weight: 600;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px 45px;
}

.ContactDiv {
  color: #606060;
  font-size: 17px;
  font-weight: 600;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px 45px;
  flex-basis: 50%;
}

.inpDiv input,
.inpDiv select,
.ContactDiv input {
  outline: none;
  /* width: 70%; */
  flex-basis: 70%;
  height: 42px;
  padding: 8px;
  border-radius: 5px;
}

.inputLabel {
  flex-basis: 30%;
}

@media screen and (max-width: 400px) {
  .inpDiv input,
  .inpDiv select,
  .ContactDiv input {
    min-height: 42px;
  }

  .inpDiv,
  .ContactDiv {
    flex-direction: column;
  }

  .inputLabel {
    text-wrap: nowrap;
  }
}

@media screen and (max-width: 600px) {
  .nestedFieldLargeDiv {
    flex-direction: column;
  }

  .inpDiv input,
  .inpDiv select,
  .ContactDiv input {
    flex-basis: 60%;
  }

  .inputLabel {
    width: 15%;
  }
}

@media screen and (max-width: 1368px) {
  .ContactLdiv {
    flex-direction: column;
  }

  .inputLabel {
    text-wrap: nowrap;
  }
}

/* @media screen and (min-width: 1024px) {
  .nestedFieldSmallDiv {
    flex-basis: 67%;
  } 
} */
@media screen and (max-width: 1024px) {
  .inpDiv {
    flex-direction: column;
  }
  .inpDiv input {
    width: 100%;
  }
  .inputLabel {
    text-wrap: nowrap;
  }
}
