.mDiv {
  /* height:100vh; */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

.AddHPTag {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #d3d3d3;
  padding-bottom: 7px;
}

.divDiv {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  gap: 0px 10px;
}

.leftDiv {
  width: 30%;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.productImg {
  width: 100%;
  border-radius: 5px;
}

.rightDiv {
  width: 65%;
}

.upper {
  display: flex;
  flex-direction: row;
}

.titleName {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.2px;
  margin-bottom: 7px;
  padding-top: 10px;
}

.pID,
.pSeller,
.pPublished {
  color: #888;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.14px;
  margin: 2px 0px;
}

.boxmDiv {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0px;
  gap: 20px;
}

.leftArrow {
  margin-right: 7px;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 300px;
  width: 200px;
  object-fit: cover;
}

.center img {
  max-width: 100%;
  max-height: 100%;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 20px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  gap: 10px;
}

.button1 {
  padding: 20px;
  width: 100%;
  background-color: #4a246f;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.button2 {
  padding: 20px;
  width: 100%;
  background-color: #b82a2a;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.button3 {
  background-color: #882828;
  padding: 20px;
  width: 100%;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.imgs {
  width: 2rem;
}

.arrow {
  background: linear-gradient(to right, #3f81e0, #3f81e0);
  border-radius: 50px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 40%;
}

@media (max-width: 768px) {
  .divDiv {
    flex-direction: column;
  }

  .leftDiv {
    width: 100%;
  }

  .container {
    flex-direction: column;
    gap: 10px;
  }

  .rightDiv {
    width: 100%;
  }

  .boxmDiv {
    display: flex;
    flex-direction: column;
  }

  .imgs {
    width: 2rem;
  }

  .arrow {
    margin-top: 60%;
  }
}

@media (max-width: 480px) {
  .imgs {
    width: 2rem;
  }
}
