.main{
 display: flex ;
 gap: 20px;
 height: 100%;
}

.prodText{
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 5px;
}
.below{
    margin : 10px 0px;
}

.left{
    width: 30%;
    height: 100vh;
}
.right{
    width: 70%;
    /* height: 100vh; */
}
.name{
    font-size: 28px;
    font-weight: 500;
    padding-top: 5px;
}
.prodId{
    font-size: 18px;
    color: rgba(112, 112, 112, 1);
    padding-top: 5px;
}
.prodSeller{
    font-size: 18px;
    color: rgba(112, 112, 112, 1);
    padding-top: 5px;
}
.prodMRP{
    font-size: 18px;
    color: rgba(112, 112, 112, 1);
    font-weight: 700;
    padding-top: 5px;
}
.prodBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    padding-top: 15px;

}
.prodColor{
 padding-top: 10px;
}
.prodColor:hover {
    border-color: #56117c;
  }
.color{
    padding-top: 15px;
    padding-left: 15px;
    font-weight: 500;
}
.pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    padding-top: 15px;
}
.productImg{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    
}
.secPic {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
   
}
.prodCom {
    border-style: dashed;
    border-width: 1px;
    border-color: #ddd;
    padding: 5px 12px;
    margin: 15px 0px;
    transition: all 0.3s;
    border-radius: 5px;
    padding-bottom: 10px;
  }
  
  .prodCom:hover {
    border-color: #56117c;
  }
  .prodComText{
        font-size: 16px;
        font-weight: 500;
        padding-top: 10px;
    
  }
  .btns{
    /* display: flex; */
    /* justify-content: space-between; */
    margin-top: 20px;
  }
  .goToInv{
    background-color: rgb(10, 10, 172);
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
}
.goToInvText{
      text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 500;
  }
  .del{
    background-color:rgb(154, 10, 10);
    margin-top: 10px;
    text-align: center;
    padding: 10px 0px;
    color: white;
    font-size: larger;
    font-weight: 500;
    border-radius: 5px;
  }
@media (max-width: 985px){
    .secPic{
        justify-content: space-evenly;
    }
}
@media (max-width:750px){
    .main{
        flex-direction: column;
    }
    .left{
        width: 70vw;
        height: auto;
        margin: 0px auto;
    }
    .right{
        width: 100%;
        padding-left: 15px;
    }
    .secPic{
        justify-content: space-between;
    }
    .productImg{
        width: 7rem;
        height: 7rem;
        
    }
}
@media (max-width:335px){
    .productImg{
        width: 5rem;
        height: 5rem;
        
    }
    .secPic{
        justify-content: space-evenly;
    }
}