.inputDivVerified {
  position: relative;
  flex-basis: 70%;
}
.inputDivVerified input {
  width: 100%;
}
.badgeIcon {
  position: absolute;
  right: 10px;
  top: 8px;
  color: black;
  font-size: 0;
}
.verifyButton {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  min-height: 42px;
}
@media screen and (max-width: 600px) {
  .inputDivVerified {
    flex-basis: 60%;
  }
}
