.subHeadline {
  color: #737b7d;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.3px;
}

.progressBar {
  padding-top: 10px;
  padding-bottom: 30px;
}

.submitDiv {
  display: flex;
  justify-content: center;
}

.submitBtn {
  border: none;
  display: flex;
  width: 338.52px;
  height: 53.733px;
  padding: 10.747px;
  justify-content: center;
  align-items: center;
  gap: 10.747px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 32.24px;
  background: linear-gradient(90deg, #47b357 0%, #50ca70 100%);
}

@media screen and (max-width: 600px) {
  .subHeadline {
    text-align: center;
  }
}
