.timingLargeDiv {
  color: #606060;
  font-size: 17px;
  font-weight: 600;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px 30px;
  flex-wrap: wrap;
}
.timingSmallDiv {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.timingSmallDiv input {
  /* flex-basis: 80%; */
  height: 42px;
  padding: 8px;
}
@media screen and (max-width: 400px) {
  .timingSmallDiv {
    flex-wrap: wrap;
  }
}
