.mDiv {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

.AddHPTag {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #d3d3d3;
  padding-bottom: 7px;
}
