.mDIvTabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0px 3px;
  transition: all 0.3;
  margin-bottom: 30px;
}

.mDIvTabs::-webkit-scrollbar {
  display: none;
}
.mDIvSideTabs {
  display: flex;
  /* align-items: flex-start; */
}

.middle {
  /* background-color: red; */
  border-top: 1px solid #f6f6f6;
  /* display: flex; */
  /* display: inline-flex; */
  /* padding: 15px; */
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 10px; */
  /* width: 100%; */
}
