.mDIvTabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0px 3px;
  transition: all 0.3;
  margin-bottom: 30px;
}

.mDIvTabs::-webkit-scrollbar {
  display: none;
}
.mDIvSideTabs {
  display: flex;
}

.middle {
  border-top: 1px solid #f6f6f6;
}
.filters{
  display: flex;
  margin-left: 270px;
  margin-top: 90px;
 
  
}
.filtername{
  font-size: 16px;
  color: gray;
  margin: 0 18px;
}
.filteroptions{
  width: 90px;
}
