.mDIvTabs {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0px 3px;
  transition: all 0.3;
}

.warnDiv {
  display: flex;
  align-items: center;
  gap: 0px 20px;
}

.warnDiv svg {
  color: #880000;
}

.mDIvTabs::-webkit-scrollbar {
  display: none;
}

.mDIvSideTabs {
  display: flex;
}

.stateTrTag {
  text-align: center;
}

.middle {
  border-top: 1px solid #f6f6f6;
}

.filters {
  display: flex;
  margin-left: 68px;
  margin-top: 90px;
}

.filtername {
  font-size: 16px;
  color: gray;
  margin: 0 18px;
}

.filteroptions {
  width: 90px;
  border: 0.5px solid;
  border-color: rgba(221, 221, 221, 1);
  border-radius: 5px;
}

.tableCat {
  padding: 40px 30px;
  overflow-x: scroll;
  width: 100%;
}

.svgTag {
  margin-left: 5px;
}

::-webkit-scrollbar {
  display: none;
}

.tableCat th {
  text-align: left;
}

.tableCat table {
  width: 100%;
}

.tableCat tr {
  position: relative;
  z-index: 1;
}

.tableCat td {
  padding: 27px 5px 27px;
  border-bottom: 1px solid #ddd;
}

.tableCat td:first-child,
.tableCat th:first-child {
  position: sticky;
  left: 0px;
  z-index: 2;
  box-shadow: #777;
}

.tableCat tr td:nth-child(2),
.tableCat tr th:nth-child(2) {
  position: sticky;
  left: 20px;
  z-index: 2;
}

.lablesDiv {
  display: flex;
}

.colorBox {
  width: 10px;
  height: 10px;
  background-color: #ff8046;
}

.tableCat tr:hover {
  background-color: #ebefff;
}

.headerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #d3d3d3;
  padding-bottom: 7px;
}

.addCsv button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #56117c;
  background-color: #fff;
  border: solid 1px #56117c;
  border-radius: 5px;
  font-size: 18px;
  padding: 7px 32px;
  width: 220px;
  cursor: pointer;
}

@media only screen and (max-width: 950px) {
  .tableCat th {
    display: none;
  }

  .tableCatTTag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }

  .tableCat tr:nth-child(1) {
    display: none;
  }

  .tableCat tr {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    border-radius: 5px;
    border: solid 1px #d3d3d3;
  }

  .tableCat td {
    border-bottom: 0px solid #ddd;
  }

  .tableCat td:first-child {
    padding-top: 1rem;
  }

  .tableCat td:last-child {
    padding-bottom: 1rem;
  }

  .tableCat td {
    display: block;
    padding: 0.5rem 1rem;
  }

  .tableCat td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 650px) {
  .hideTxt {
    display: none;
  }

  .addCsv button {
    justify-content: center;
    padding: 12px;
    width: 50px;
    font-weight: bold;
  }
}

@media screen and (max-width: 450px) {
  .mDiv {
    margin-right: 25px;
  }

  .headerFlex > h1 {
    font-size: 38px;
    width: 100%;
  }
}
