.order-detail {
  box-shadow: 0px 1px;
}

.order-id1 {
  width: 1140px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
  padding-top: 50px;
}

.details {
  display: flex;
  justify-content: space-between;
}

.customer-details {
  padding-top: 35px;
  font-size: 20px;
}

.email {
  display: flex;
}

.mobile {
  display: flex;
}

.customer-details1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shipping-address {
  padding-top: 35px;
  font-size: 20px;
}

.payment-details {
  padding-top: 35px;
  padding-right: 110px;
  font-size: 20px;
}

.payment-method {
  padding: 10px;
  margin-top: 10px;
}

.name-text {
  padding: 15px;
  margin-top: 5px;
  font-size: 18px;
  color: gray;
}

.c-name {
  color: gray;
}

.mail {
  margin-bottom: 29px;
  color: gray;
}

.addressdetails {
  margin-top: 15px;

  font-size: 18px;
  color: gray;
}

.name {
  margin-bottom: 29px;
}

.adress {
  margin-top: 20px;
}

.transactions {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: gray;
}

.t-id {
  margin-top: 5px;
  font-size: 18px;
  color: gray;
}

.p-method,
.c-holdername,
.cno,
.div3 {
  font-size: 18px;
}

.div3 {
  padding-top: 10px;
}

.details-list {
  margin-left: -9px;
  padding-top: 4px;
}

.product-details1 {
  text-decoration: solid;
  font-size: 20px;
}

.products-table th {
  padding-top: 50px;
}

.products-table tbody td {
  padding-left: 100px;
  margin-bottom: 50px;
  font-size: 20px;
}

td {
}

table,
th,
td {
  border-collapse: collapse;
  padding: 10px;
}

.products-table table {
  width: 100%;
}

.text-wrapper {
  font-size: 20px;
  padding-top: 60px;
}

.logistic-img {
  height: 15vw;
}

.div {
  font-size: 20px;
}

.name {
  display: flex;
}

.product_rating {
  display: flex;
  margin-left: 130px;
}

.text-wrapper-2 {
  color: gray;
}

.text-content {
  display: flex;
}

.total-bill {
  padding-top: 60px;
  padding-left: 150px;
}

.tbtext {
  font-size: 25px;
  font-weight: bold;
}

.total-billdetails {
  padding-top: 40px;
}

.mapDivBU {
  display: flex;
  flex-direction: column;
  /* justify-content: c; */
}

.titleVal {
  display: inline-block;
  width: 200px;
  font-weight: bold;
}

.gt {
  text-align: center;
  margin: 7px 0px;
}

.dt1 {
  /* display: flex; */
  /* padding-top: 20px; */
  /* align-items: center; */
}

/* .amt1 {
  margin-left: 550px;
}

.amt2 {
  margin-left: 540px;
}

.amt3 {
  margin-left: 550px;
}

.amt4 {
  margin-left: 587px;
} */

.total-amt {
  display: flex;
  padding-top: 40px;
  font-size: 18px;
  font-weight: bold;
}

.amtbold {
  margin-left: 485px;
  font-weight: bold;
}
