.order-id1 {
  width: 1140px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
  padding-top: 50px;
  font-size: 1.4rem;
  font-weight: 700;
}

.details {
  display: flex;
  justify-content: space-evenly;
  gap: 30px 0px;
  flex-wrap: wrap;
  margin: 50px 0px;
}

.BlockSub {
  font-size: 20px;
  width: 30%;
}

#customerDetails {
  min-width: 350px;
}

#shippingDetails {
  min-width: 400px;
}

#paymentDetails {
  min-width: 550px;
}

.email {
  display: flex;
}

.mobile {
  display: flex;
}

.SubHeading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.shipping-address {
  padding-top: 35px;
  font-size: 20px;
}

.payment-details {
  padding-top: 35px;
  padding-right: 110px;
  font-size: 20px;
  text-align: center;
}

.payment-method {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.ContentDels {
  padding: 15px;
  margin-top: 5px;
  color: gray;
  font-size: 1.1rem;
}

.mail {
  margin-bottom: 29px;
  color: gray;
}

.addressdetails {
  margin-top: 15px;

  font-size: 18px;
  color: gray;
}

.name {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
  color: gray;
  gap: 0px 10px;
}

.particuarsSvg {
  color: #000;
}

.adress {
  margin-top: 20px;
  font-size: 1.1rem;
}

.transactions {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: gray;
}

.t-id {
  margin-top: 5px;
  font-size: 18px;
  color: gray;
}

.p-method,
.c-holdername,
.cno,
.div3 {
  font-size: 18px;
}

.div3 {
  padding-top: 10px;
}

.details-list {
  margin-left: -9px;
  padding-top: 4px;
}

.product-details1 {
  text-decoration: solid;
  font-size: 1.4rem;
}

.products-table th {
  padding-top: 50px;
}

.products-table tbody td {
  padding-left: 100px;
  margin-bottom: 50px;
  font-size: 20px;
}

.products-table table {
  width: 100%;
}

.text-wrapper {
  font-size: 20px;
  padding-top: 60px;
}

.logistic-img {
  height: 15vw;
}

.div {
  font-size: 20px;
}

.product_rating {
  display: flex;
  margin-left: 130px;
}

.text-wrapper-2 {
  color: gray;
}

.text-content {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 30px;
  gap: 0px 20px;
  font-size: 1.4rem;
}

.total-bill {
  padding-top: 60px;
  padding-left: 150px;
}

.tbtext {
  font-size: 25px;
}

.total-billdetails {
  padding-top: 40px;
}

.mapDivBU {
  display: flex;
  flex-direction: column;
}

.titleVal {
  display: inline-block;
  width: 200px;
}

.gt {
  text-align: center;
  margin: 7px 0px;
  font-size: 1.4rem;
}

.dt1 {
  margin: 12px 0px;
  font-size: 1.1rem;
}

.LogisticsGif {
  margin: -40px 0px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.total-amt {
  display: flex;
  padding-top: 40px;
  font-size: 18px;
}

.amtbold {
  margin-left: 485px;
}

.leftArrow {
  margin: 0px 20px 0px 0px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  .order-id1 {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .adress {
    text-align: center;
  }

  .customer-details,
  .shipping-address,
  .payment-details {
    padding: 10px 0;
    font-size: 1.2rem;
  }

  .transactions .cno {
    margin-top: 5px;
  }

  .details-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding-top: 2px;
  }

  .product-details1 {
    font-size: 1.2rem;
  }

  .text-content {
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
  }

  .text-wrapper {
    margin-left: 0;
  }

  .mapDivBU {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .products-table th,
  .products-table tbody td {
    padding: 5px;
  }

  .logistic-img {
    height: auto;
    max-width: 100%;
  }

  .total-bill {
    padding: 10px 0;
    font-size: 0.8rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 650px) {
  #paymentDetails {
    min-width: 300px;
  }
}
