.mdiv {
  display: flex;
  justify-content: space-between;
  gap: 0px 20px;
}

.mainDiv {
  padding-right: 10px;
  display: grid;
  height: fit-content;
  gap: 20px;
  font-family: "Rubik", sans-serif;
}

.heading {
  height: fit-content;
  padding: 20px 0px 0px 20px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.components {
  display: flex;
  justify-content: space-between;
}
