.mainDiv {
  font-family: "Rubik", sans-serif;
  padding: 50px 20px;
  width: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px 0px;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #d3d3d3;
  /* overflow-x: hidden; */
  transition: all 0.5s ease-in-out;
}

.heading {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: rgb(113, 113, 113, 0.3);
  left: 30px;
  padding: 2px 10px;
  border-radius: 5px;
  transition: all 0.3s;
}

.heading:hover {
  color: #56117c;
}

.navElement {
  position: relative;
  display: flex;
  cursor: pointer;
  transition: all 0.3s;
}

.navElement:hover > .heading {
  opacity: 1;
  visibility: visible;
}

.logoutIcon {
  color: #231963;
}

@media only screen and (max-width: 700px) {
  .heading {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  .navElement {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
  }
}
