.inpDiv {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inpDiv,
.inputLdivFile {
  color: #606060;
  font-size: 17px;
  font-weight: 600;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px 45px;
}

.inpDiv input,
.inpDiv select {
  margin-top: 10px;
  outline: none;
  border: 1px solid #909090;
  background: #fff;
  border-radius: 5px;
  height: 42px;
  padding: 8px;
}

.inpDiv input[type="number"]::-webkit-inner-spin-button,
.inpDiv input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
