.inpDiv {
  width: 100%;
  display: flex;
  align-items: center;
}

.inpDiv,
.inputLdivFile {
  color: #606060;
  font-size: 17px;
  font-weight: 600;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px 45px;
}

.inpDiv input,
.inpDiv select {
  width: 70%;
  outline: none;
  border: 1px solid #909090;
  background: #fff;
  border-radius: 5px;
  height: 42px;
  padding: 8px;
}

/* #allWidth input,
  #allWidth select {
    width: 70%;
  }
  
  #ageNow input,
  #ageNow select {
    width: 50%;
  } */

.inpDiv input[type="number"]::-webkit-inner-spin-button,
.inpDiv input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* .inputLabel {
    flex-basis: 30%;
  } */

@media screen and (max-width: 600px) {
  .inpDiv input,
  select {
    flex-basis: 60%;
  }

  .inputLabel {
    width: 15%;
  }
}

@media screen and (max-width: 400px) {
  .inpDiv input,
  select {
    min-height: 42px;
  }

  .inpDiv {
    flex-direction: column;
  }

  .inputLabel {
    width: 100%;
  }
}
