.main{
    display: flex;
    font-family: 'Roboto', sans-serif;  
}
.mainSec{
    margin-top: 2.5rem;
    margin-left: 5rem;
    width:  93%;
}
.sidebar{
    background: rgba(251, 251, 251, 1);
    width: 3.5rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 5rem;
}

.topText{
    font-weight: 600;
    font-size: 17px;
}
.slide{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 5px 0px; 
}
.slideSec {
    font-size: 17px;
    width: 20%;
    text-align: center;
    color: initialColor;
    border-bottom: 1.5px solid white;
    transition: color 0.1s, border-bottom 0.1s;
    cursor: pointer;
}
.slideSec p{
    padding-bottom: 10px;
}
.KYCmain{
    margin-top: 15px ;   
    padding: 1rem 2rem;
    width: 60vw;
    margin-bottom: 20px;
}
.slideSecClicked{
    font-size: 17px;
    color: purple;
    border-bottom: 1.5px solid purple;
    cursor: pointer;
}
.etc{
    margin-top: 2rem;
    margin-left: 2rem;
}
@media (max-width: 850px){
    .KYCmain{
        width: 100vw;
    }
}

@media (max-width:660px){
    .slideSec{
        width: 30%;
    }
}
@media (max-width:470px){
    .slideSec{
        width: 26%;
    }
}