.alert {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 20px;
  color: red;
}

.alert a {
  display: flex;
  align-items: center;
  color: rgb(233, 38, 38);
  text-decoration: none;
}
 .icon{
  margin-right: 10px;
}
.mDiv {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.CDiv {
  position: relative;
  width: 90%;
  margin: 40px 12px 20px 0px;
}

@media screen and (max-width: 1050px) {
  .CDiv {
    padding: 0px 15px 0px 15px;
  }
}

@media screen and (max-width: 850px) {
  .CDiv {
    padding: 0px 30px 0px 30px;
  }
}

@media screen and (max-width: 650px) {
  .CDiv {
    padding: 0px;
    width: 88%;
  }
}

@media screen and (max-width: 450px) {
  .CDiv {
    padding: 0px 15px 0px 15px;
  }
}
