.l_div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* flex-direction: row; */
}
.box_div {
  padding: 25px 0px;
  flex-basis: 70%;
  /* width: 70%; */
}
@media screen and (max-width: 400px) {
  .box_div {
    width: 80%;
    /* width: 70%; */
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .heading {
    justify-content: center;
  }
}

.save_buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.save_button_1 {
  color: var(--Primeraly-White, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  border: none;

  display: flex;
  max-width: 139px;
  height: 43px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #350b5e;
}
.save_button_2 {
  display: flex;
  max-width: 174px;
  height: 43px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #2b5e0b;
  border: none;
  color: var(--Primeraly-White, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

.submit_div {
  display: flex;
  justify-content: center;
}
.sub_headline {
  color: var(--Grey_line, #737b7d);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  letter-spacing: 0.3px;
}
@media screen and (max-width: 600px) {
  .sub_headline {
    text-align: center;
  }
}
.progress_bar {
  padding-top: 10px;
  padding-bottom: 30px;
}
.createYourStore {
  color: #383c3e;
  font-size: 40px;
  font-weight: 700;
}

input,
select,
button {
  outline: none;
  border: 1px solid #909090;
  background: #fff;
  border-radius: 5px;
}

.inpDiv,
.input_ldiv_file {
  color: #606060;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;

  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px 45px;
}
@media screen and (max-width: 400px) {
  .inpDiv {
    flex-direction: column;
  }
}

.input_ldiv_file input,
.inpDiv input,
select {
  flex-basis: 70%;
  /* flex-basis: 75%; */
  height: 42px;
  padding: 8px;
}
@media screen and (max-width: 600px) {
  .inpDiv input,
  select {
    flex-basis: 60%;
  }
}
@media screen and (max-width: 400px) {
  .inpDiv input,
  select {
    min-height: 42px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.input_label {
  flex-basis: 30%;
  /* width: 10%; */
}
@media screen and (max-width: 600px) {
  .input_label {
    width: 15%;
  }
}

.nested_field_large_div {
  color: #606060;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
@media screen and (max-width: 600px) {
  .nested_field_large_div {
    flex-direction: column;
  }
}
.nested_field_small_div {
  display: flex;
  flex-direction: column;

  /* flex-basis: 75%; */
  flex-basis: 65%;
}

@media screen and (min-width: 1024px) {
  .nested_field_small_div {
    flex-basis: 67%;
  }
}

.input_div_verified {
  position: relative;
  flex-basis: 70%;
  /* flex-basis: 75%; */
}
.input_div_pincode {
  flex-basis: 70%;
  /* flex-basis: 75%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  /* flex-wrap: wrap; */
}
.input_div_pincode input {
  flex-basis: 100%;
}
.input_div_verified input {
  width: 100%;
}
.prevImg {
  width: 100px;
  height: 100px;
}
.addImgDiv {
  width: 50px;
  height: 50px;
  background-color: #dbdbdb;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  font-family: "Merriweather", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 40.811px;
  letter-spacing: 0.653px;
  margin-bottom: 30px;
  cursor: pointer;
}
.input_file {
  display: none;
}
.input_div_file {
  flex-basis: 70%;
  /* flex-basis: 75%; */
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  gap: 1rem;
  /* flex-wrap: wrap; */
}
@media screen and (max-width: 600px) {
  .input_div_verified,
  .input_div_pincode,
  .input_div_file {
    flex-basis: 60%;
  }
  .input_div_pincode {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .input_div_file {
    flex-direction: row;
    /* justify-content: flex-end; */
  }
}

.verify_button {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  min-height: 42px;
}

.badge_icon {
  position: absolute;
  right: 10px;
  top: 8px;
  color: black;
  font-size: 0;
}

.timing_large_div {
  color: #606060;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;

  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px 30px;
  flex-wrap: wrap;
}
.timing_small_div {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 30px;
}
@media screen and (max-width: 400px) {
  .timing_small_div {
    flex-wrap: wrap;
  }
}
.timing_small_div input {
  /* flex-basis: 80%; */
  height: 42px;
  padding: 8px;
}
.submitBtn {
  border: none;
  /* margin-block-start: 1rem;
  border-radius: 10px; */
  /* cursor: pointer; */

  display: flex;
  width: 338.52px;
  height: 53.733px;
  padding: 10.747px;
  justify-content: center;
  align-items: center;
  gap: 10.747px;

  /* //text */
  color: var(--Light_text, #fff);
  text-align: center;
  /* font-family: Poppins; */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 32.24px;
  background: var(--Green, linear-gradient(90deg, #47b357 0%, #50ca70 100%));
}
a {
  text-decoration: none;
  color: #595959;

  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.18px;
}
