.Ldiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.boxDiv {
  padding: 25px 0px;
  flex-basis: 70%;
}

.heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.saveButtons {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.saveButtonPurple {
  color: var(--Primeraly-White, #fff);
  text-align: center;
  font-size: 22px;
  /* font-style: normal; */
  font-weight: 700;
  text-transform: capitalize;
  border: none;

  display: flex;
  max-width: 139px;
  height: 43px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #350b5e;
}

.saveButtonGreen {
  display: flex;
  max-width: 174px;
  height: 43px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #2b5e0b;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 22px;
  /* font-style: normal; */
  font-weight: 700;
  text-transform: capitalize;
}

.submitDiv {
  display: flex;
  justify-content: center;
}

.subHeadline {
  color: #737b7d;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.3px;
}

.progressBar {
  padding-top: 10px;
  padding-bottom: 30px;
}

.createYourStore {
  color: #383c3e;
  font-size: 40px;
  font-weight: 700;
}

input,
select,
button {
  /* outline: none; */
  border: 1px solid #909090;
  background: #fff;
  border-radius: 5px;
}

.inpDiv,
.inputLdivFile {
  color: #606060;
  font-size: 17px;
  /* font-style: normal; */
  font-weight: 600;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px 45px;
}

.inputLdivFile input,
.inpDiv input,
select {
  flex-basis: 70%;
  height: 42px;
  padding: 8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.inputLabel {
  flex-basis: 30%;
}

.nestedFieldLargeDiv {
  color: #606060;

  font-size: 17px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nestedFieldSmallDiv {
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
}

.inputDivVerified {
  position: relative;
  flex-basis: 70%;
}

.inputDivPincode {
  flex-basis: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.inputDivPincode input {
  flex-basis: 100%;
}

.inputDivBank {
  flex-basis: 70%;
  /* flex-basis: 75%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  /* flex-wrap: wrap; */
}

.inputDivBank input {
  flex-basis: 100%;
}

.inputDivVerified input {
  width: 100%;
}

.prevImg {
  width: 100px;
  height: 100px;
}

.addImgDiv {
  width: 70px;
  height: 70px;
  background-color: #dbdbdb;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  font-size: 30px;
  font-weight: 900;
  /* line-height: 40.811px;
  letter-spacing: 0.653px; */
  margin-bottom: 30px;
  cursor: pointer;
}

.inputFile {
  display: none;
}

.inputDivFile {
  flex-basis: 70%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* flex-wrap: wrap; */
}

.verifyButton {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  min-height: 42px;
}

.badgeIcon {
  position: absolute;
  right: 10px;
  top: 8px;
  color: black;
  font-size: 0;
}

.timingLargeDiv {
  color: #606060;
  font-size: 17px;
  font-weight: 600;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px 30px;
  flex-wrap: wrap;
}

.timingSmallDiv {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.timingSmallDiv input {
  /* flex-basis: 80%; */
  height: 42px;
  padding: 8px;
}

.submitBtn {
  border: none;
  display: flex;
  width: 338.52px;
  height: 53.733px;
  padding: 10.747px;
  justify-content: center;
  align-items: center;
  gap: 10.747px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 32.24px;
  background: linear-gradient(90deg, #47b357 0%, #50ca70 100%);
}

@media screen and (min-width: 1024px) {
  .nestedFieldSmallDiv {
    flex-basis: 67%;
  }
}

@media screen and (max-width: 768px) {
  .inputDivBank {
    flex-basis: 60%;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .inputDivVerified,
  .inputDivPincode,
  .inputDivFile {
    flex-basis: 60%;
  }

  .inputDivPincode {
    flex-direction: column;
  }

  .nestedFieldLargeDiv {
    flex-direction: column;
  }

  .inputLabel {
    width: 15%;
  }

  .inpDiv input,
  select {
    flex-basis: 60%;
  }

  .subHeadline {
    text-align: center;
  }

  .heading {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .timingSmallDiv {
    flex-wrap: wrap;
  }

  .inputDivFile {
    flex-direction: row;
  }

  .inputLabel {
    width: 100%;
  }

  .inpDiv input,
  select {
    min-height: 42px;
  }

  .inpDiv {
    flex-direction: column;
  }

  .boxDiv {
    width: 80%;
  }
}
