.titlePTag {
  font-family: "Rubik", sans-serif;
  margin: 20px 0px 20px 30px;
  font-weight: 100;
  font-size: 16px;
}

.titlePTag span {
  text-transform: capitalize;
}

.listmDiv {
  font-family: "Rubik", sans-serif;
  width: 250px;
  display: flex;
  flex-direction: row;
  background-color: pink;
  gap: 0px 20px;
}

.listTrackingDiv {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px 0px;
}

.circleDiv {
  width: 20px;
  height: 30px;
  background-color: red;
}
