#tabID {
  width: 100%;
  margin: 30px 0px;
}

.editBtn,
.openSvg,
.closeSvg {
  margin: 0px 0px 0px 10px;
}

.openSvg {
  color: #800000;
}

.closeSvg {
  color: green;
}

.editBtn {
  cursor: pointer;
}
