.itemDiv {
  margin: 30px 0px;
}

.itemMapDiv {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.mapItemMDiv {
  min-width: 250px;
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px 30px;
  border: dashed 1px rgba(170, 170, 170, 1);
  border-radius: 8px;
  padding: 10px;
}

.imgCl {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sumDiv {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}
