.mDiv {
  margin-top: 30px;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
}

.innerDiv {
  width: 90%;
  padding: 62px 0px;
  border-radius: 56px;
  background: #232038;
  display: flex;
  justify-content: space-evenly;
}

.regText {
  width: 50%;
}

.topText {
  color: #fff;
  font-size: 38px;
  font-weight: 500;
  line-height: 55px;
  text-transform: capitalize;
}

.btnDiv {
  margin-top: 50px;
  border-radius: 69px;
  background: #fff;
  padding: 10px 40px;
  border: none;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}

.btnDiv:hover {
  box-shadow: 0 1px 3px #c075ff;
}

.regImage {
  width: 25%;
}

.regImage img {
  width: 90%;
}

@media only screen and (max-width: 900px) {
  .regImage {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .topText {
    font-size: 24px;
    line-height: 30px;
  }
  .btnDiv {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .innerDiv {
    padding: 40px 0px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .regText {
    width: 90%;
  }
  .topText {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
  .buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
