.mDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ConDiv {
  width: 100%;
  border-radius: 32px;
  padding-top: 95px;
}

.gridDivParent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.gridDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px 30px;
}

@media only screen and (max-width: 900px) {
  .ConDiv {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .ConDiv {
    padding-top: 30px;
  }
}
