.mDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ConDiv {
  width: 100%;
  border-radius: 32px;
  padding-top: 95px;
  /* border: 5px solid #b814e2; */
}

.gridDivParent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.gridDiv {
  /* background-color: red; */
  width: 80%;
  /* display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

@media only screen and (max-width: 900px) {
  .ConDiv {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .ConDiv {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 775px) {
  .gridDiv {
    grid-template-columns: repeat(2,1fr);
  }
}

@media only screen and (max-width: 480px) {
  .gridDiv {
    grid-template-columns: repeat(1,1fr);
  }
}
