.mDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 30px 0px;
}

.mDivTab {
  width: 46%;
  max-width: 500px;
  min-width: 250px;
  text-align: center;
  border-radius: 8px;
  padding: 15px 0px;
  transition: all 0.3s;
}

.mDivTab:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.valPTagTab {
  color: #592161;
  font-size: 30px;
  font-weight: 700;
}

.labelPTagTab {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 700;
}
