.nameDiv {
    color: #3f81e0;
    border-bottom: #ddd 1px solid;
    padding: 8px 20px;
    width: 160px;
    min-width: 160px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 0.2px;
  }
  
  .nameDiv:hover {
    border-color: transparent transparent #3f81e0 transparent;
  }