.mainDiv {
  background-color: #fff;
  width: 100%;
  height: fit-content;
  border-radius: 15px;
  margin-bottom: 40px;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.search input {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 15px;
  outline: none;
  width: 40vw;
}

.search input::placeholder {
  color: #ddd;
}

.button button {
  border: none;
  border-radius: 5px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #56117c;
  color: #56117c;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.12px;
  padding: 6px 25px;
  cursor: pointer;
  
}

@media (width>950px) {
  .button button::after {
    content: '+ Add Product';
  }
}

@media (max-width: 950px) {
  .button button:after{
    content: '+';
  }
}


.table table {
  width: 100%;
  overflow-x: scroll;
}


::-webkit-scrollbar {
  display: none;
}

.table td:first-child,
.table th:first-child {
  position: sticky;
  left: 0px;
  z-index: 300;
  box-shadow: #777;
}

.table td:nth-child(2),
.table th:nth-child(2) {
  position: sticky;
  left: 20px;
  z-index: 300;
}

.table th {
  color: #555;
  font-size: 14px;
  font-weight: 400;
}

.imgTag {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  object-fit: cover;
}

.row {
  padding: 17px 0px 17px 15px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.middle {
  margin: 20px 0px;
}

#col1 {
  width: 40%;
  cursor: pointer;
}

.col1 {
  display: flex;
}

.image {
  height: 50px;
  width: 50px;
}

.col1Text {
  padding-left: 10px;
}

.textTop {
  color: #000;
  font-size: 16px;
}

.textBottom {
  color: #aaa;
  font-size: 14px;
}

#price,
#stock,
#orders {
  padding-right: 10px;
}

#published {
  width: max-content;
}

.dots {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tableTag {
  border-collapse: collapse;
  position: relative;
  overflow-x: scroll;
}

.tableTag::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.tableTag::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 6px;
}

.tableTag::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

.tableTag::-webkit-scrollbar-corner {
  background: transparent;
}

.tableTag tr th:first-child,
.tableTag tr td:first-child {
  position: sticky;
  left: 0;
  z-index: 20;
}

.tableTag tr th,
.tableTag tr td {
  text-align: center;
  width: fit-content;
  z-index: 1;
}

.tableTag tr th:nth-child(5),
.tableTag tr td:nth-child(5) {
  min-width: 150px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.pages {
  display: flex;
  gap: 10px;
}

.arrow {
  color: #777;
  cursor: pointer;
}

.numbers {
  display: flex;
  gap: 10px;
}

.active {
  padding: 2px 9px;
  border-radius: 5px;
  border: 1px solid #3f81e0;
  background-color: #3f81e0;
  color: white;
}

.inactive {
  padding: 2px 9px;
  border-radius: 5px;
  border: 1px solid #3f81e0;
  color: #777;
}

.showingPTag {
  font-size: 12px;
  margin: 12px 0px;
  color: #888;
}

.deleteDiv svg {
  color: rgb(115, 0, 0);
}

.cenDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 10px;
}

.btnnb {
  background-color: transparent;
  border-width: 0px;
  margin: 5px 0px 0px 0px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .table table {
   display: none;
  }
}