.mainDiv {
  border-radius: 15px;
  padding: 20px 0px;
  height: fit-content;
  transition: all 0.3s;
  margin-top: 9px;
}
  
 #onCat{
  width: 0px;
}

.div1 {
  padding: 10px 0px 1px 0px;
  border-bottom: 1px solid #ddd;
  max-width: 300px;
  transition: all 0.3s;
  align-items: left;
}
  

.heading {
  padding-bottom: 7px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  
}

#filterLabel {
  cursor: pointer;
  
}

.select {

  border: none;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  width: 100%;
  
}

#rate {
  border-bottom: none;
  
}
#onCat {
  width: 0px;
  height: 0px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  cursor: pointer;
  
}

.categoryOption {
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}
.typName{
    min-width: 90px;
}
.categoryOption input[type="checkbox" i] {
  width: 19px;
  accent-color: rgb(241, 237, 234);
  cursor: pointer;
  
}

.floatRightArrowDiv {
  float: right;
  margin: 10px 5px 10px 0px;
  cursor: pointer;
  
}
