.mainDiv {
  border-radius: 15px;
  padding: 20px 0px;
  height: fit-content;
  transition: all 0.3s;
  margin-top: 9px;
}

.div1 {
  padding-bottom: 20px;
  border-bottom: #ddd 1px solid;
  transition: all 0.3s;
}

.heading {
  font-size: 16px;
  font-weight: 700;
}

#filterLabel {
  cursor: pointer;
}

.select {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  width: 100%;
}

#rate {
  border-bottom: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  cursor: pointer;
}

.categoryOption {
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
}

.categoryOption input[type="checkbox" i] {
  width: 19px;
  accent-color: rgba(255, 115, 29, 1);
  cursor: pointer;
}

.floatRightArrowDiv {
  float: right;
  margin: 10px 5px 10px 0px;
  cursor: pointer;
}
