.mDiv {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.contendDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  backdrop-filter: blur(0px);
  padding: 30px 50px;
  border-radius: 15px;
  color: #000;
}

.UpdateOrderPTag {
  font-size: 20px;
  font-weight: 600;
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 50px;
  cursor: pointer;
}

.BtnDivMain {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.BtnDiv {
  padding: 7px 30px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

#Accept {
  background-color: #1f9254;
}

#InProgress {
  background-color: #3f81e0;
}

#Completed {
  background-color: #4bb543;
}

#Cancelled {
  background-color: #ff0000;
}

.ProductDelTableDiv {
  width: 100%;
}

.ProductDelPTag {
  font-size: 18px;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
}
