.mainDiv {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 50px;
}

.top {
  padding: 15px;
}

.filters {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.select {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selectInner {
  width: 47%;
  padding: 9px 20px;
  border: 1px solid #3f81e0;
  border-radius: 5px;
}

.selectInner select {
  width: 100%;
  font-size: 14px;
  border: none;
  outline: none;
}

.search {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.search input {
  width: 70%;
  padding: 0px 20px;
  border: none;
  border-radius: 5px;
  border: 1px solid#DDD;
  outline: none;
}

.middle {
  padding-top: 20px;
  border-top: 1px solid #f6f6f6;
}

.tabMain {
  display: flex;
  justify-content: space-between;
}

.tabs {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.tabs div {
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.table {
  padding: 40px 15px;
}

.table th {
  color: #777;
  font-weight: 400;
  text-align: left;
}

.table table {
  width: 100%;
}

.table td {
  padding: 27px 0px 27px;
  border-bottom: 1px solid #ddd;
}

.payment {
  width: 100px;
}

.dots {
  border-radius: 5px;
  background: rgba(255, 115, 29, 0.3);
  color: #df5e0f;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  line-height: 27px;
  letter-spacing: 0.2px;
  padding: 0px 5px 3px 5px;
  cursor: pointer;
  width: min-content;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.pages {
  display: flex;
  gap: 10px;
}

.arrow {
  color: #777;
  cursor: pointer;
}

.numbers {
  display: flex;
  gap: 10px;
}

.active {
  padding: 2px 9px;
  border-radius: 5px;
  border: 1px solid #3f81e0;
  background-color: #3f81e0;
  color: white;
}

.inactive {
  padding: 2px 9px;
  border-radius: 5px;
  border: 1px solid #3f81e0;
  color: #777;
}
