.wrapper {
}

.heading {
  font-family: "Rubik", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  grid-column: span 2;
  color: #5e5e5e;
  padding: 3rem 4rem;
}

.group {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

.left {
  background-color: #f5eeff;
  width: 100%;
  padding: 2rem;
  padding-left: 5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.left form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
}

.left input[type="text"],
.left textarea {
  appearance: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #707070;
  font-family: inherit;
  resize: none;
}

.left button {
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  appearance: none;
  border: none;
  border-radius: 13px;
  padding: 1rem;
  color: white;
  font-size: 1.1rem;
  background-color: #350B5E;
}

.right {
  flex: 2;
  background-color: #eef3ff;
  width: 100%;
  padding: 2rem;
  padding-right: 5rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.right p, .right h2 {
  padding: 1rem 1rem;
  font-size: 1.3rem;
}

.right a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 768px) {
  .group {
    flex-direction: column;
  }

  .left {
    margin-right: 3rem;
  }

  .right {
    margin-left: 3rem;
  }
}
