.mDiv {
  color: #fff;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mContDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
}

.imgLogo {
  height: 40px;
}

.rightDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 35px;
  font-size: 18px;
}

.registerPTag {
  padding: 12px 42px;
  border-radius: 10px;
  background: linear-gradient(270deg, #0009d1 0%, #ff00c7 100%);
  color: white;
}

.imgAuth {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@media only screen and (max-width: 940px) {
  .rightDiv {
    gap: 0px 30px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 900px) {
  .registerPTag {
    padding: 12px 22px;
    border-radius: 32px;
  }
}

@media only screen and (max-width: 890px) {
  .rightDiv {
    gap: 0px 10px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 650px) {
  .mDiv {
    display: none;
  }
}
