.mobileNav {
  width: 100%;
  font-family: "Rubik", sans-serif;
  box-shadow: 1px 1px 1px #d3d3d3;
  display: none;
}

.logoSign {
  width: 100%;
  display: flex;
  height: 50px;
  padding: 10px 10px 0px 20px;
  justify-content: space-between;
  display: none;
}

#bur1,
#bur2,
#bur3 {
  border-radius: 4px;
  background-color: black;
  height: 3px;
}

#bur1 {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 7px;
}

#bur2 {
  width: 75%;
  margin-bottom: 7px;
}

#bur3 {
  width: 50%;
}

.imgLogo {
  margin-top: -3px;
  width: 150px;
}

.cancel {
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 900;
}

.hamburger {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s;
}

.navList {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  position: fixed;
  top: 50px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  z-index: 5;
}

.mobileList {
  font-size: 20px;
  padding: 15px 0px;
  text-align: center;
}

#Register {
  padding: 10px 0px;
  color: #fff;
  width: 220px;
  background: linear-gradient(270deg, #0009d1 0%, #ff00c7 100%);
  border-radius: 32px;
}

#visible {
  transform: translateX(0%);
}

#notVisible {
  transform: translateX(-100%);
}

@media only screen and (max-width: 650px) {
  .mobileNav {
    display: block;
  }
  .logoSign {
    display: flex;
  }
}
