.inpDiv {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inpDiv,
.inputLdivFile {
  color: #606060;
  font-size: 17px;
  font-weight: 600;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px 45px;
}

.inpCheckbox {
  color: #606060;
  font-size: 17px;
  font-weight: 600;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 0px 10px;
  cursor: pointer;
}

.inpDiv input,
.inpDiv select {
  margin-top: 10px;
  outline: none;
  border: 1px solid #909090;
  background: #fff;
  border-radius: 5px;
  height: 42px;
  padding: 8px;
}

.inpDiv textarea {
  resize: vertical;
  margin-top: 10px;
  outline: none;
  border: 1px solid #909090;
  background: #fff;
  border-radius: 5px;
  padding: 8px;
}

.inpDiv input[type="number"]::-webkit-inner-spin-button,
.inpDiv input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


.colourPickerContainer {
  position: relative;
}

.colourInput {
  width: 100% /* Adjust width to accommodate color picker */
}

.colourPicker {
  position: absolute;
  top: 50px; /* Adjust the position of the color picker */
  z-Index: 9999; /* Adjust z-index to ensure it's above other elements */
}

.VariantBtnDiv {
  display: flex;
  justify-content: flex-end;
}

.AddVariantBtn {
  background-color: #4bb543;
  color: #fff;
  padding: 15px 50px;
  border-radius: 15px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.RemoveVariantBtn {
  background-color: rgb(166, 24, 24);
  color: #fff;
  padding: 15px 50px;
  border-radius: 15px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
  cursor: pointer;
}