@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

#root {
  width: 100%;
  max-width: 1700px;
  background-color: #fff;
  overflow: hidden;
}

.LinkStyle {
  text-decoration: none;
  color: inherit;
  color: black;
}

#right {
  text-align: right;
}

.registerDivMain {
  background-image: linear-gradient(#f6ded4, #c0a0fd);
}

.thumbs{
  display: none;
}

.dot{
  width: 50px !important;
  border-radius: 10px !important;
  height: 5px !important;
  background-color: purple !important;
}

.legend{
  background-color: transparent !important;
  opacity: 1 !important;
}