.main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.box {
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px #60617029;
  color: #36b293;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  min-height: 96px;
  min-width: 335px;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.box p {
  font-weight: 600;
}

.box:not(:first-child) .para {
  font-weight: 600;
  font-size: 24px;
}

.box:nth-child(1) {
  background: #edfffb;
}

.box:nth-child(2) {
  background: #e0ecfe;
  color: #4c98ff;
}
.box:nth-child(3) {
  color: #b23636;
}
.box:nth-child(3) h4 {
  color: #1f2937;
}
.box:nth-child(4) h4 {
  color: #1f2937;
}

.outer_box {
  display: flex;
  justify-content: space-between;
}

.inside:nth-child(1) {
  color: #36b293;
}
.inside:nth-child(2) {
  color: #4c98ff;
}
.inside:nth-child(3) {
  color: #f6bb22;
}

.inside {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-right: 1rem;
}

.inside p {
  color: #6d788c;
}
.inside p {
  font-size: 12px;
  font-weight: 400;
}

.inside h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
@media (width<= 28.125em) {
  .main .box {
    min-width: 220px;
  }
}
