.leftArrow {
  margin: 5px 7px 0px 0px;
  cursor: pointer;
}

.titleDiv {
  display: flex;
  align-items: center;
}

.infoDiv {
  margin: 30px 0px;
}

.sellerdelDiv {
  display: flex;
  flex-direction: column;
  gap: 12px 0px;
  margin: 20px 0px;
}
