.inpDiv,
.inputLdivFile {
  color: #606060;
  font-size: 17px;
  /* font-style: normal; */
  font-weight: 600;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px 45px;
}
.inpDiv input,
select {
  flex-basis: 70%;
  height: 42px;
  padding: 8px;
}
.inputLabel {
  flex-basis: 30%;
}
.inputDivVerified {
  position: relative;
  flex-basis: 70%;
}
.inputDivVerified input {
  width: 100%;
}
.badgeIcon {
  position: absolute;
  right: 10px;
  top: 8px;
  color: black;
  font-size: 0;
}
@media screen and (max-width: 600px) {
  .inpDiv input,
  select {
    flex-basis: 60%;
  }
  .inputLabel {
    width: 15%;
  }
  .inputDivVerified {
    flex-basis: 60%;
  }
}
@media screen and (max-width: 400px) {
  .inpDiv input,
  select {
    min-height: 42px;
  }
  .inpDiv {
    flex-direction: column;
  }
  .inputLabel {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .inpDiv {
    flex-direction: column;
  }
  .inputLabel {
    text-wrap: nowrap;
  }
}
