.mainDiv {
  border-radius: 15px;
  padding: 16px 20px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  font-family: "Rubik", sans-serif;
}

.heading {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.table {
  padding-top: 30px;
}

.table table {
  width: 100%;
}

.col1 {
  display: flex;
  width: 200px;
}

.image {
  height: 25px;
  padding-right: 12px;
}

.imageCenter {
  height: 100%;
}

.show {
  color: #888;
  font-size: 12px;
}

#th {
  color: #000;
  font-size: 15px;
  font-weight: 400;
}

#td {
  padding: 25px 15px 15px 0px;
  border-bottom: #ddd 1px solid;
}

#td:nth-child(2) {
  width: 100%;
}

.amount {
  width: 100px;
}

.sales {
  width: 60px;
}

.stock {
  width: 110px;
}

.tableTag {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  display: block;
  position: relative;
  overflow-x: scroll;
}

.tableTag::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.tableTag::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 6px;
}

.tableTag::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

.tableTag::-webkit-scrollbar-corner {
  background: transparent;
}

.tableTag tr th:first-child,
.tableTag tr td:first-child {
  width: 70px;
  min-width: 70px;
  position: sticky;
  left: 0;
  z-index: 20;
  background-color: #fff;
  text-align: center;
}

.tableTag tr th,
.tableTag tr td {
  text-align: center;
  width: 20%;
  z-index: 1;
}

.tableTag tr th:nth-child(2),
.tableTag tr td:nth-child(2) {
  min-width: 150px;
}

.tableTag tr th:nth-child(3),
.tableTag tr td:nth-child(3) {
  min-width: 150px;
}

.tableTag tr th:nth-child(4),
.tableTag tr td:nth-child(4) {
  min-width: 150px;
}

.loadCenterDiv {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.NoOrders {
  width: 100%;
  text-align: center;
}

.imageCenter {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .table {
    padding: 20px;
  }

  #td {
    font-size: 15px;
    margin-right: auto;
  }

  #th {
    font-size: 15px;
  }
}
