.mainDiv {
  border-radius: 15px;
  padding: 16px 20px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  font-family: "Rubik", sans-serif;
}

.heading {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.table {
  padding-top: 30px;
}

.table table {
  width: 100%;
}

.col1 {
  display: flex;
  width: 200px;
}

.image {
  height: 25px;
  padding-right: 12px;
}

img {
  height: 100%;
}

#th {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

#td {
  padding: 25px 15px 15px 0px;
  border-bottom: #ddd 1px solid;
}

.amount {
  width: 100px;
}

.sales {
  width: 60px;
}

.stock {
  width: 110px;
}

@media screen and (max-width: 800px) {
  .table {
    padding: 20px;
  }

  #td {
    font-size: 15px;
    margin-right: auto;
  }

  #th {
    font-size: 15px;
  }
}

/* @media screen  and  (max-width:880px){
  #th{
    display: none;
  }
  #td{
    display: grid;
    
    grid-template-columns: 15ch auto;
    padding: 0.75rem 0.5rem;
  }
  td:first-child{
    padding-top: 2rem;
  }
  td:last-child{
    padding-bottom: 2rem;
  }
  td::before{
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
   
}  */

/* @media screen and (max-width: 566px) {
  #td {
    margin-right: 30px;
    width: auto; */
/* gap: ; */
/* } */

/* .col1 {
    flex-direction: column;
  }
} */
