.mainDiv {
  border-radius: 15px;
  padding: 16px 20px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  font-family: "Rubik", sans-serif;
}

.heading {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.table {
  padding-top: 30px;
}

.table table {
  width: 100%;
}

.col1 {
  display: flex;
  width: 500px;
}

.image {
  height: 25px;
  padding-right: 12px;
}

.imageCenter {
  height: 100%;
}

.show {
  color: #888;
  font-size: 12px;
}

.table #th {
  color: #000;
  font-size: 15px;
  font-weight: 400;
}

.table #td {
  padding: 25px 15px 15px 0px;
  border-bottom: #ddd 1px solid;
}

.table #td:nth-child(2) {
  width: 80%;
}

.amount {
  width: 100px;
}

.sales {
  width: 60px;
}

.stock {
  width: 110px;
}

.tableTag {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  display: block;
  position: relative;
  overflow-x: scroll;
}

.tableTag::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.tableTag::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 6px;
}

.tableTag::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

.tableTag::-webkit-scrollbar-corner {
  background: transparent;
}

.tableTag tr th:first-child,
.tableTag tr td:first-child {
  width: 70px;
  min-width: 70px;
  position: sticky;
  left: 0;
  z-index: 8;
  background-color: #fff;
  text-align: center;
}

.tableTag tr th,
.tableTag tr td {
  text-align: center;
  width: 20%;
  z-index: 1;
}

.tableTag tr th:nth-child(2),
.tableTag tr td:nth-child(2) {
  min-width: 150px;
}

.tableTag tr th:nth-child(3),
.tableTag tr td:nth-child(3) {
  min-width: 150px;
}

.tableTag tr th:nth-child(4),
.tableTag tr td:nth-child(4) {
  min-width: 150px;
}

.loadCenterDiv {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.NoOrders {
  width: 100%;
  text-align: center;
}

.imageCenter {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .table {
    padding: 20px;
  }

  .col1 {
    width: 300px;
  }
}

@media screen and (max-width: 650px) {
  .table th {
    display: none;
  }

  .table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }

  .table tr:nth-child(1) {
    display: none;
  }

  .table tr {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    border-radius: 5px;
  }

  .table #td {
    width: 100%;
    border-bottom: 0px solid #ddd;
  }

  .table #td:first-child {
    padding-top: 1rem;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  /* .col1 { */
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* } */

  .table #td:last-child {
    padding: 0px 0px 1rem 0px;
    /* background-color: red; */
    border-bottom: 1px solid #ddd;
  }

  .table td {
    display: block;
    padding: 0.5rem 1rem;
  }

  .table td:nth-child(2)::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }

  .table #td:nth-child(2) {
    text-align: left;
    width: 100%;
  }
}

/* @media screen and (max-width: 450px) {
  .col1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .image {
    padding: 0px;
  }

  .BusinessNameSel {
    display: none;
  }

  .tableTag tr th:nth-child(1),
  .tableTag tr td:nth-child(1) {
    width: 70px;
  }
} */
