.mainDiv {
  background-color: #fff;
  border-radius: 15px;
  padding: 16px 20px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  font-family: "Rubik", sans-serif;
  /* margin: 0px 30px 30px 30px; */
}

.heading {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.middle {
  padding: 50px 0px;
  display: flex;
}

.table {
  padding-right: 30px;
  width: 100%;
  overflow-x: auto;
}

.tableTag {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;

  display: block;
  /* font-family: arial, sans-serif; */
  /* border-collapse: collapse; */
  /* width: 100%; */
  position: relative;
  /* max-height: 450px; */
  /* overflow-y: hidden; */
  overflow-x: scroll;

  /* background-color: pink; */
}

/* .tableTag tr td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: pink;
  box-shadow: 0px 5px 0px 0px 1px lightgrey;
} */

.tableTag tr th:first-child,
.tableTag tr td:first-child {
  width: 70px;
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: pink;
  box-shadow: 0px 5px 0px 0px 1px lightgrey;
}

.tableTag tr th {
  /* .tableTag tr td { */
  text-align: center;
  /* background-color: pink; */
}

#th {
  color: #777;
  font-size: 15px;
  font-weight: 400;
  padding: 6px;
  /* text-align: left; */
}

#td {
  /* background-color: red; */
  padding: 6px;
  /* padding-left: ; */
  text-align: left;
}

.product {
  padding-right: 120px;
}

.quantity {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.costHeading {
  color: #323c4d;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
}

.bottom {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.show {
  color: #888;
  font-size: 16px;
}

.view {
  color: #1746a2;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.NoOrders {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50px;
}

.loadCenterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* @media screen and (max-width: 1600px) {
  .middle {
    flex-direction: column;
  }
  .table > table {
    width: 100%;
  }
  .mainDiv {
    margin: 45px;
  }
} */

/* @media screen and (max-width: 900px) {
  #th {
    display: none;
  }
  #td {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 15ch auto;
    padding: 0.75rem 1rem;
  }
  td:first-child {
    padding-top: 2rem;
  }
  td:last-child {
    padding-bottom: 2rem;
  }
  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
} */
