.mainDiv {
  border-radius: 15px;
  padding: 16px 20px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  font-family: "Rubik", sans-serif;
}

.heading {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.middle {
  padding: 50px 0px;
  display: flex;
}

.table {
  width: 100%;
  overflow-x: auto;
}

.tableTag {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  display: block;
  position: relative;
}

.trHrline {
  border-style: solid;
  border-color: #e3e3e3;
  border-width: 0px 0px 1px 0px;
}

.tableTag::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.tableTag::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 6px;
}

.tableTag::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

.tableTag::-webkit-scrollbar-corner {
  background: transparent;
}

.tableTag tr th:first-child,
.tableTag tr td:first-child {
  width: 70px;
  min-width: 70px;
  position: sticky;
  left: 0;
  z-index: 20;

  background-color: #fff;
  text-align: center;
}

.tableTag tr th,
.tableTag tr td {
  text-align: center;
  width: 20%;
  z-index: 1;
  background-color: #fff;
}

.tableTag tr th:nth-child(2),
.tableTag tr td:nth-child(2) {
  background-color: #fff;
  width: 40%;
  z-index: 2;
}

#th {
  color: #777;
  font-size: 15px;
  font-weight: 400;
  padding: 6px;
}

#td {
  padding: 6px;
}

.product {
  padding-right: 120px;
}

.quantity {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.costHeading {
  color: #323c4d;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
}

.bottom {
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}

.show {
  color: #888;
  font-size: 12px;
}

.view {
  color: #1746a2;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50px;
}

@media only screen and (max-width: 750px) {
  .tableTag th {
    display: none;
  }

  .tableTag tr:nth-child(1) {
    display: none;
  }

  .tableTag tr {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    border-radius: 5px;
  }

  .tableTag #td {
    text-align: left;
    width: 100%;
    border-bottom: 0px solid #ddd;
    /* background-color: red; */
  }

  .tableTag td:first-child {
    padding-top: 1rem;
  }

  .tableTag td:last-child {
    padding-bottom: 1rem;
  }

  .tableTag td {
    display: block;
    padding: 0.5rem 1rem;
  }

  .tableTag td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
  }
}
