@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.pageExt {
  max-width: 1750px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  padding: 0px 20px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(222, 222, 222);
}

.LinkStyle {
  text-decoration: none;
  color: inherit;
  color: black;
}

#right {
  text-align: right;
}

.registerDivMain {
  background-image: linear-gradient(#f6ded4, #c0a0fd);
}

.thumbs {
  display: none;
}

.active {
  color: #c0a0fd;
}

.LinkStyle.sideBarNonActive {
  color: #595959;
  font-weight: 400;
  font-family: 18px;
  opacity: 0.8;
}

.LinkStyle.sideBarActive {
  color: #0132bf;
  font-weight: 600;
  font-family: 18px;
  opacity: 1;
}

.LinkStyle.sideBarNonActive .temp {
  fill: #575757;
}

.LinkStyle.sideBarActive .temp {
  fill: #56117c;
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
}

.dot {
  width: 50px !important;
  border-radius: 10px !important;
  height: 5px !important;
  background-color: purple !important;
}

.legend {
  background-color: transparent !important;
  opacity: 1 !important;
  bottom: 0px !important;
}

.carousel button,
.carousel-status {
  display: none;
}

.carousel-root,
.carousel {
  height: max-content;
}

.carousel {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly !important;
}

.control-dots {
  position: static !important;
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  height: fit-content;
  margin: 0px !important;
}

.required {
  color: #ff0000;
}

#activeBox {
  box-shadow: 0px 2px 3px 0px #c075ff;
  transition: all 0.5s;
}

#activeBox:hover {
  box-shadow: 0px 2px 3px 0px #c075ff;
}

#activeTabC {
  background-color: #3f81e0;
  color: #fff;
}

.test {
  width: 100%;
  object-fit: contain;
}

.loadCenterDiv,
.loadCenterDivM {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loadCenterDivM {
  margin: 20px 0px;
}

.NoOrders {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#onCat {
  width: 50px;
}

#offCat {
  width: 30%;
}

#Div1Cat {
  opacity: 0;
  visibility: hidden;
}

#onCat #div1CatFilter {
  display: flex;
  justify-content: center;
}

.yesProductsPage {
  opacity: 1;
  visibility: visible;
  position: absolute;
  transform: translateX(0%);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s;
  z-index: 2;
}

.noProductsPage {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s;
  z-index: -1;
}

#yesProductsPage {
  opacity: 0;
  visibility: hidden;
}

#noProductsPage {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 850px) {
  .slider-wrapper {
    height: 45%;
  }
}

@media screen and (max-width: 820px) {
  .slider-wrapper {
    height: 100% !important;
  }
}
