.mDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imgHeaderP {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.delHeader {
  margin-left: 30px;
}

.delPName {
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.24px;
}

.delDes {
}
