.mDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imgHeaderP {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all 0.3s;
}

.imgHeaderP:hover {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.delHeader {
  font-family: "Rubik", sans-serif;
  margin-left: 30px;
}

.delPName {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.24px;
}

.delDes {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.16px;
}

@media only screen and (max-width: 650px) {
  .mDiv {
    margin-top: 30px;
  }
}
