.mainDiv {
  background-color: white;
  margin: 40px;
  padding: 50px;
  border-radius: 25px;
}

.head {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
}

.subHead {
  color: #555;
  font-size: 18px;
  letter-spacing: 0.18px;
  padding-top: 15px;
}

.form {
  padding-top: 48px;
  padding-left: 84px;
}

.formInput {
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
  margin-bottom: 10px;
}

.formInput2 {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.stateInpDiv {
  display: flex;
  flex-direction: row;
  position: relative;
}

.stateInp {
  width: 100%;
}

.verIcon {
  height: 100%;
  position: absolute;
  right: 10px;
  top: 0px;
  color: #c075ff;
}

.formInput2 input {
  margin-right: 0;
  margin-top: 10px;
}

.formInput input {
  width:80%;
  margin-top: 10px
}


.formInputNumber input {
  width: 100%;
  margin-right: 0;
  margin-bottom: 30px;
  margin-top: 10px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.formInputs input::-webkit-outer-spin-button,
.formInputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.formInputs input[type="number"] {
  -moz-appearance: textfield;
}

input {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: transparent;
  padding: 10px;
}

label {
  padding-bottom: 10px;
}

.otp {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.otpBtn {
  max-height: 40px;
  padding: 0px 1rem;
}

.otpText {
  width: 80%;
}


.otpTextNumber {
  width: 100%;
}

.otpButtonF button,
.otpButton button,
.otpButtonT button {
  border: none;
  border-radius: 5px;
  background: #5b1d9a;
  color: #fff;
  font-size: 16px;
  padding: 9px 15px;
  margin-top: 10px;
}


.otpButtonF button,
.otpButton button {
  cursor: pointer;
}

.otpButtonT button,
#curNA {
  cursor: not-allowed;
}

.PinCodeInp {
  width: 100%;
  -moz-appearance: textfield;
  min-height: 40px;
}

.PinCodeInp::-webkit-outer-spin-button,
.PinCodeInp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}

.otpButtonClicked button {
  border: none;
  border-radius: 5px;
  background: #350b5e;
  color: #fff;
  font-size: 16px;
  padding: 9px 17px;
  cursor: pointer;
  margin-top: 10px;
}



.otpButtonVerify button {
  border: none;
  border-radius: 5px;
  background: #5b1d9a;
  color: #fff;
  font-size: 16px;
  height: 100%;
  padding: 3px 13px;
  cursor: pointer;
}

.otpButtonColor button {
  border: none;
  border-radius: 5px;
  background: #350b5e;
  color: #fff;
  font-size: 16px;
  height: 100%;
  padding: 3px 13px;
  cursor: pointer;
}

.otp input {
  width: 100%;
}

.button {
  display: flex;
  justify-content: space-between;
}

.button button {
  border-radius: 5px;
  border: 1px solid #3f81e0;
  background: #350b5e;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 10px 30px;
  cursor: pointer;
}

span {
  color: #350b5e;
}

.form3Cat {
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

#btn3 {
  margin-top: 30px;
}

.CheckBoxCatLabel {
  font-size: 16px;
  letter-spacing: 0.18px;
  padding-top: 15px;
  cursor: pointer;
}

.inpCheckBoxCat {
  transform: scale(1.3);
  margin-right: 30px;
}

.buttonSvg {
  margin-left: 5px;
}

@media   (max-width: 1711px) {
  .formInput input {
    width: 75%;
  }
  .otpText  {
    width: 75%; 
  }
}
@media   (max-width: 1400px) {
  .formInput input {
    width: 70%;
  }
  .otpText  {
    width: 70%;
  }
}
@media   (max-width: 1230px) {
  .formInput input {
    width: 63%;
  }
  .otpText {
    width: 63%;
  }
}
@media   (max-width:1106px ) {
  .otpButtonClicked button {
    padding: 7px 17px;
  }
  .otpButtonVerify button  {
   margin-top: 10px;
  }
  .otpButtonF button,
  .otpButton button {
    width: 100%;
    padding: 10px 16px;
    margin-top: 10px;
  }
  .formInput  {
    flex-wrap: wrap;
  }
  .otp{
    flex-wrap: wrap;
  } 
  .formInput input {
    width: 100%
  }
  .otpText  {
    width: 100%;
  }
}
@media screen and (max-width: 840px) {
  .mainDiv {
    margin: 20px 30px 20px 20px;
  }

  .form {
    padding-left: 0px;
  }
}
@media screen and (max-width:700px){
  .formInput  {
    flex-wrap: nowrap;
  }
  
  .formInput input{
    width:75%;
  }
  .otp {
   flex-wrap: nowrap;
  }
  .otpText{
    width:75%;
  }
  .otpButtonClicked button {
    padding: 8px 18px ;
  }
  .otpButtonVerify button  {
    margin-top: 0px;
    padding: 1px 13px;
   } 
}
@media screen and (max-width: 574px) {
  .formInput input {
    width: 70%;
  }
  .otpText{
    width:70%;
  }
  
}
@media screen and (max-width: 510px) {
  .formInput input {
    width: 65%;
  }
  .otpText{
    width:65%;
  }
}
@media (max-width:460px){
  .formInput{
    flex-wrap: wrap;
  }
  .formInput input{
    width:100%;
  }
  .otp{
    flex-wrap: wrap;
  }
  .otpText{
    width:100%;
  }
  .otpButton button {
    padding: 7px 17px;
  }
  .otpButtonVerify button  {
    margin-top: 10px;
   } 
  .otpButtonClicked button {
    padding: 7px 17px;
  }
}






