.mainDiv {
  font-family: "Rubik", sans-serif;
  background: linear-gradient(90deg, rgba(188, 20, 226, 0.2) 0%, rgba(63, 130, 224, 0.2) 100%);
  display: flex;
}
.left,.right{
  width: 50%;
}
.left{
  padding: 80px;
  background-image: url("../../../assets/register/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.heading{
  color: #090808;
  font-size: 32.74px;
  font-weight: 700;
}
span{
  color: #350B5E;
}
.subHead{
  font-size: 18px;
  padding-top: 80px;
}
.points{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}