.mDiv {
  border-style: dashed;
  border-width: 1px;
  border-color: #ddd;
  padding: 5px 12px;
  width: 220px;
  transition: all 0.3s;
}

.mDiv:hover {
  border-color: #56117c;
}

.title {
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.14px;
}

.value {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.16px;
}

.editBtn {
  float: right;
  cursor: pointer;
}

.inpTag {
  width: 100%;
}
