.container{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    justify-content: space-between;
    padding-top:10px;
    font-size:18px;
}

.msg{
    font-weight: 400;
    color:#777777;
    padding-top:10px;
    font-size:18px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}