.container{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    justify-content: space-between;
    padding-top:10px;
    font-size:18px;
}

.msg{
    font-weight: 400;
    color:#777777;
    padding-top:10px;
    font-size:18px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px; /* To add some space between products and loader */
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db; /* You can adjust this color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}