.mDiv {
  border-style: dashed;
  border-width: 1px;
  border-color: #ddd;
  padding: 5px 12px;
  transition: all 0.3s;
  margin: 20px 0px;
}

.mDiv:hover {
  border-color: #56117c;
}

.subTitlePTag {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.16px;
  margin: 15px 0px;
}

.sizesDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.sizeBlock {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.16px;
  background-color: #eaeaea;
  padding: 5px 25px;
}
