.CorememCardImg {
  width: 100%;
  height: 10vh;
  max-height: 1000px;
  object-fit: cover;
}

@media only screen and (max-width: 650px) {
  .CorememCardImg {
    height: 70vh;
  }
}

@media only screen and (max-width: 450px) {
  .CorememCardImg {
    height: 50vh;
  }
}
